body {
	font-family: helvetica;
	padding-top: 50px;
	background-color: rgba(70, 25, 150, 0.4);
}
h1 {
	text-align: center;
}
.starter-template {
	padding: 1px 15px 40px 15px;
	text-align: center;
	background: black;
}
.navbar {
	margin-bottom: 20px;
}
.lead {
	margin-top: 10px;
}
.cheatsheet {
	text-align: left;
}
.more {
	text-align: left;
}
